/* =========================================
   Գլխավոր կարգավորումներ (Global Styles)
   ========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
    overflow-x: hidden;
    height: 100%;
}

.windows-watermark {
    display: none !important;
}